---
---

@import "{{ site.theme }}";

body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #24292e;
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* Typography */
h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.7rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #0366d6;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

/* Lists styling */
ul, ol {
  padding-left: 2em;
}

/* Print styles */
@media print {
  body {
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #24292e;
  }
  
  a[href^="http"]:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }
}